In [1]:
import sqlite3

conn = sqlite3.connect('PersonalLibrary.db')
c = conn.cursor()

c.execute('''
CREATE TABLE IF NOT EXISTS Books (
    BookID INTEGER UNIQUE, 
	Title VARCHAR(128),
	Author VARCHAR(128),
	YearPublished INTEGER,
	Genre VARCHAR(128),
    PRIMARY KEY(BookID)
)
''')

conn.commit()

In [2]:
conn = sqlite3.connect('PersonalLibrary.db') 
c = conn.cursor()


c.execute("INSERT INTO Books (BookID, Title, Author, YearPublished, Genre) VALUES (?, ?, ?, ?, ?)", (1100, "Rich Dad Poor Dad", "Robert T. Kiyoski", 1997, 'Business'))
c.execute("INSERT INTO Books (BookID, Title, Author, YearPublished, Genre) VALUES (?, ?, ?, ?, ?)", (1101, "Utopia", "Thomas More", 2021, 'Satire'))
c.execute("INSERT INTO Books (BookID, Title, Author, YearPublished, Genre) VALUES (?, ?, ?, ?, ?)", (1102, "Things Fall Apart", "Chinua Achebe", 2004, 'Drama'))
c.execute("INSERT INTO Books (BookID, Title, Author, YearPublished, Genre) VALUES (?, ?, ?, ?, ?)", (1103, "Lord Of The Flies", "William Golding", 2006, 'Fiction'))
c.execute("INSERT INTO Books (BookID, Title, Author, YearPublished, Genre) VALUES (?, ?, ?, ?, ?)", (1104, "Radical Inclusion: Seven Steps to Help You Create a More Just Workplace, Home, and World", "David Moinina Sengeh", 2023, 'Self-Help'))
c.execute("INSERT INTO Books (BookID, Title, Author, YearPublished, Genre) VALUES (?, ?, ?, ?, ?)", (1105, "The Lean Startup", "Eric Ries", 2014, 'Entrepreneurship'))

conn.commit()

In [3]:
conn = sqlite3.connect('PersonalLibrary.db')
c = conn.cursor()

c.execute("SELECT * FROM Books")

rows = c.fetchall() 



for row in rows:
    print(row)

(1100, 'Rich Dad Poor Dad', 'Robert T. Kiyoski', 1997, 'Business')
(1101, 'Utopia', 'Thomas More', 2021, 'Satire')
(1102, 'Things Fall Apart', 'Chinua Achebe', 2004, 'Drama')
(1103, 'Lord Of The Flies', 'William Golding', 2006, 'Fiction')
(1104, 'Radical Inclusion: Seven Steps to Help You Create a More Just Workplace, Home, and World', 'David Moinina Sengeh', 2023, 'Self-Help')
(1105, 'The Lean Startup', 'Eric Ries', 2014, 'Entrepreneurship')

In [4]:
conn = sqlite3.connect('PersonalLibrary.db')
c = conn.cursor()

c.execute("SELECT * FROM Books WHERE YearPublished >= 2010")

rows = c.fetchall() 



for row in rows:
    print(row)

(1101, 'Utopia', 'Thomas More', 2021, 'Satire')
(1104, 'Radical Inclusion: Seven Steps to Help You Create a More Just Workplace, Home, and World', 'David Moinina Sengeh', 2023, 'Self-Help')
(1105, 'The Lean Startup', 'Eric Ries', 2014, 'Entrepreneurship')

In [10]:
conn = sqlite3.connect('PersonalLibrary.db')
c = conn.cursor()

c.execute("SELECT * FROM Books WHERE Genre = 'Fiction'")

rows = c.fetchall() 



for row in rows:
    print(row)
    
conn.close()

(1103, 'Lord Of The Flies', 'William Golding', 2006, 'Fiction')